<div>
	<div class="navbar-header">Chat Sails by Pioneras Developers</div>
	<div class="col-md-12" style="padding:100px">
		<table id="table-message" class="table-message">
			<tbody></tbody>
		</table>

		</div>

		<div class="navbar">
			<div class="div-form">
					<div class="child-form">
						<input id="name" type="text" placeholder="Nombre">
					</div>

					<div  class="child-form">
						<input id="message" type="text" placeholder="Mensaje">
					</div>
					<button id="send" class="btn-send child-form">Enviar</button>  
			</div>
		</div>

	</div>